<!DOCTYPE html>
<html>
<body>

<h2>HTML Forms</h2>

<form action="/action_page.php">
  <label for="mbehave">Behaviour:</label>
  <input type="number" id="mbehave" name="mbehave" min="1" max="100"><br><br>
  <label for="mdesk">Desk Work:</label>
  <input type="number" id="mdesk" name="mdesk" min="1" max="100"><br><br>
  <label for="mcom">Committee Work:</label>
  <input type="number" id="mcom" name="mcom" min="1" max="100"><br><br>

  <input type="submit" value="Submit">
</form> 




<p>If you click the "Submit" button, the form-data will be sent to a page called "/action_page.php".</p>

</body>
</html>
